{
  "runner.bootstrap": "./vendor/autoload.php",
  "runner.path": "Tests/PhpBench",
  "runner.time_unit": "milliseconds",
  "runner.php_disable_ini": true,
  "report.generators": {
    "default": {
      "generator": "expression",
      "cols": ["subject","mem_peak","revs","its","best","worst","stdev","rstdev"]
    }
  }
}